html{
    height: 100%;
}
body{
    background-image: url(./start.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #000310;
    background-position: center;
    background
}

.btn-start{
    --size: 100%;
    background-image: url(./liftOff.png);
    background-repeat: no-repeat;
    background-size:  100% 138.4%;
    background-position: center;
    width: 305px;
    height: 117px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 2vh;
    right: 0vw;
}
