body{
	background-image: url(./imgs/score_bg.jpg);
	background-size: 100% auto;
}
html, body, .container{
    height: 100%;
}

.container{
	color: white;
	display: grid;
    grid-template-columns: 200px auto 200px;
	justify-content: space-between;
	align-content: center;
	justify-items: center;	
    align-items: center;
    
}

.grid-item4{
	justify-self: left;

}

.grid-item5{
	align-items: center;
}

.grid-item6{
	justify-self: right;
}